.trip {
    margin-top: 10px;
    height: 20px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: white;
    display: inline-block;
}

.trip-selected {
    margin-top: 10px;
    height: 20px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: 	#C0C0C0;
    display: inline-block;
}

.bus {
    left: 10px;
    height: 40px;
    border-bottom-style: solid;
    border-color: #D3D3D3;
    border-width: 1px;
    justify-content: left;
    position: flex;
}
.white-bus {
    background-color: white;
}

.gray-bus {
    background-color: 	#F5F5F5;
}

.container {
    padding-top: 10px;
    margin-left: 0px;
}
span {
    margin-right: 60px;
    float:left;
    font-size: 8px;
}